<ActionBar title="Permission Reproduction">
</ActionBar>

<StackLayout>
    <Label text="Reproduction" class="text-center h1"></Label>
    <Label text="1: Do something with the worker" class="body text-center" textWrap="true"></Label>
    <Button text="Do Stuff" (tap)="onUseDb()" class="-primary"></Button>
    <Label text="2: Request a permission" class="body text-center" textWrap="true"></Label>
    <Button text="Request Permission" (tap)="onRequestPermissions()" class="-primary"></Button>
</StackLayout>
